{erl_opts, [ warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           %% , warn_missing_spec
           , warn_untyped_record
           , debug_info
           ]}.

{dialyzer, [{plt_extra_apps, [poolboy]}]}.

{xref_checks, [ undefined_function_calls
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.

{ct_opts, [ {verbose}
          ]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{edoc_opts, [ {doclet, edown_doclet}
            , {dialyzer_specs, all}
            , {report_missing_type, true}
            , {report_type_mismatch, true}
            , {pretty_print, erl_pp}
            , {preprocess, true}
            ]}.

{deps, [ {eredis, {git, "git://github.com/Nordix/eredis.git", {ref, "b3b34fe"}}}
       , {poolboy, "1.5.2"}
       ]}.

{profiles, [{
             test, [{deps,
                     [{fakeredis_cluster,
                       {git, "git://github.com/bjosv/fakeredis_cluster.git", {ref, "73e3e2f"}}}]
                    }]
            }]}.
