{erl_opts, [ warnings_as_errors
           , warn_export_all
           ]}.

{dialyzer, [{plt_extra_apps, [poolboy]}]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.

{edoc_opts, [ {doclet, edown_doclet}
            , {dialyzer_specs, all}
            , {report_missing_type, true}
            , {report_type_mismatch, true}
            , {pretty_print, erl_pp}
            , {preprocess, true}
            ]}.

{deps, [ {eredis, "1.2.0"}
       , {poolboy, "1.5.2"}
       ]}.
